{% extends 'base.html.twig' %}

{% form_theme formDiscussion 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Invest</h1>

    {{ form_start(formDiscussion) }}

    {{ form_widget(formDiscussion) }}

    <button type="submit" class="btn btn-outline-primary">Send</button>

    {{ form_end(formDiscussion) }}

{% endblock %}
