{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <h1>About us</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla cumque, ex id quasi, necessitatibus totam officiis distinctio est nobis enim repellendus. Delectus veritatis ex ea tempore enim vitae alias natus.</h2>

{% endblock %}